[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-singleton-model = "*"
django-cors-headers = "*"
markdown = "*"
django-markdownfield = "*"
pillow = "*"
imagekitio = "*"
urllib3 = "==1.26.15"
requests-toolbelt = "==0.10.1"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
