[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-singleton-model = "*"
django-cors-headers = "*"
markdown = "*"
django-markdownfield = "*"

[dev-packages]

[requires]
python_version = "3.11"
