.hero-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-cover-image {
  height: 100%;
  max-width: 315px; 
  border-radius: 10px;
}

#cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 315px;
}

#name {
    justify-self: start;
    text-align: center;
}

#skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.skill * {
  padding: 0;
  margin: 0;
  padding: 2px;
  font-size: 11px;
  text-align: center;
  border: 1px solid black;
}



.skill-empty {
  visibility: hidden;
}

.file-button {
  background-color: #e9e9ed;
  padding: 10px;
  border-radius: 5px;
  box-shadow: black 1px 1px 1px 2px;
  margin: 0px auto;
}

.file-button:hover {
  background-color: #d0cfcf;
}
.file-button:active {
  background-color: #9b9b9b;
}

@media (max-width: 545px) {
  .hero-container {
    flex-direction: column;
  justify-content: center;
  }

  .hero-cover-image {
    margin-top: 10px;
    width: 90%!important;
  }

  #name {
    justify-self: center;
    font-size: 18px;
    max-width: 90%;
  }
}
