#login-form {
    margin: 0 auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form button {
    width: 70px;
}

#username-input, #password-input {
    border-bottom: 1px solid black;
    color: black;
}